//- login.pug

doctype html
html
  head
    include head.pug

  body
    div.branding-container
      include nav.pug

    div#admin-portal.main-content
      h1 Admin Portal


    include foot.pug
    include scripts.pug
