//- head.pug
title
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel="icon" href="favicon.ico")
link(rel='stylesheet' href='./libraries/fontawesome/all.min.css')
link(rel='stylesheet' href='./libraries/bootstrap/bootstrap.min.css')
link(rel='stylesheet' href='site.min.css')
script(src='./libraries/jquery/jquery.min.js')
script(src='./libraries/fontawesome/all.min.js')
script(src='./libraries/bootstrap/bootstrap.min.js')
