//- index.pug

doctype html
html
  head
    include head.pug

  body.fadein
    div.branding-container#branding-home
      include nav.pug

    div.main-content#main-container
      h1 Hey!


    include foot.pug
    include scripts.pug
