//- login.pug

doctype html
html
  head
    include head.pug

  body
    div.main-content.container
      h1 login
      div.p-4
        form#login-form
          div.form-row.align-items-center
            div.col-auto
              input(type='text' name='username' placeholder='username' required)#login-username.form-control.mb-1
            div.col-auto
              input(type='password' name='password' placeholder='password' required)#login-password.form-control.mb-1
            div.col-auto
              input(type='submit' value='Login').btn.btn-primary.mb-1

        div#login-notification-container

    include foot.pug
    include scripts.pug
